*{
    margin: 0px;
    padding: 0px;
    font-family: 'Century', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background.jpg);
    min-height: 100vh;
    background-size: cover; /* makes the bg image cover the entire page instead of stretching */
    background-position: center; /* centers the bg image */
}

ul {
    float: right;
    display: flex;
    gap: 8px;
    margin-right: 100px;
    margin-top: 20px;
    list-style-type: none;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    border-bottom: 1px solid white;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.logo img{
    float: left;
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 2px solid black;
}

.main {
    max-width: 1200px;
    margin: auto; 
}

.title {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

.buttons {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    transition: 0.5s ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: black;
}

.sub-menu {
    display: none;
    top: 6%;
    position: relative;
}

.sub-menu ul {
    position: absolute;

}

.wrapper ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}

.wrapper ul li:hover .sub-menu ul {
    display: block;
    margin: 6px;
}

.wrapper ul li:hover .sub-menu ul li {
    width: 75px;
    padding: 5px;
    border-bottom: 1px white;
    background: transparent;
    transition: 0.5s ease;
    text-align: left;
}
