*{
    margin: 0px;
    padding: 0px;
    font-family: 'Century', sans-serif;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background.jpg);
    min-height: 100vh;
    background-size: cover; /* makes the bg image cover the entire page instead of stretching */
    background-position: center; /* centers the bg image */
}

ul {
    float: right;
    display: flex;
    gap: 8px;
    margin-right: 100px;
    margin-top: 20px;
    list-style-type: none;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    border-bottom: 1px solid white;
}

ul li.active a {
    background-color: #fff;
    color: black;
}

.logo img{
    width: 60px;
    height: 60px;
    padding-left: 30px;
    padding-top: 10px;
    object-fit: contain;
}

.main {
    max-width: 1200px;
    margin: auto; 
}

.title {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

.buttons {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    transition: 0.5s ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: black;
}

.sub-menu {
    display: none;
    top: 6%;
    position: relative;
}

.sub-menu ul {
    position: absolute;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 0;
}

.wrapper ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}

.wrapper ul li:hover .sub-menu ul {
    display: block;
    margin: 6px;
}

.wrapper ul li:hover .sub-menu ul li {
    width: 75px;
    padding: 5px;
    border-bottom: 1px white;
    background: transparent;
    transition: 0.5s ease;
    text-align: left;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.about h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 70px;
    color: white;
}

.about p {
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.about-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/aboutbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* From Uiverse.io by Yaya12085 */ 
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  margin: 50px;
  transition: 0.3s ease;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

